/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #1F2937;
    padding: 20px;
    border-right: 1px solid #374151;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #374151;
}

.sidebar-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-header h1 {
    color: #818CF8;
    font-weight: 800;
    font-size: 20px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    color: #D1D5DB;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

.sidebar-links a i {
    font-size: 18px;
}

.sidebar-links a:hover {
    background: #374151;
}

.sidebar-links a.ativo {
    background: #374151;
    color: #818CF8;
    font-weight: 600;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.btn-sair {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    background: #DC2626;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

.btn-sair:hover {
    background: #B91C1C;
}