/* Reset e Definições Globais */
*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

    /* Fonte Usada */
    font-family: "Geologica", sans-serif;

    box-sizing: border-box;
}
/* Variaveis */
:root{
    --cor1: #2E2E2E;
    --cor2: #6E6E6E;
    --cor3: #A23E2E;
    --cor4: #D9C7A3;
    --corFundoTeste: #333;

    --corBtn: #FFF;

    --corBordaBtn: #FFF;
    
    --arredondamentoCaixaGrande: 40px;
    --arredondamentoInputBtns: 15px;

    --bordaBtns: 2px solid var(--corBordaBtn);
}

body{
    height: 100vh;
    width: 100%;
    background: var(--corFundoTeste);
}

/* Botão de Mudar tema */
#temaSelecionado{
    position: fixed;
    font-size: 30px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--corBtn);
    border: none;
    outline: none;
    background: none;

    &:hover{
        scale: 1.2;
        background: rgba(0,0,0,0.2);
    }
}
